body {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 133, 255);
    margin: 0px;
    font-family: "Playwrite Deutschland Grundschrift Guides" sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0)
}

.chamada {
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-vídeos{
    display: flex;
    overflow-x auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-left: 20px;
}
.categoria-vídeos img {
    opacity: 0,5 ;
    height: 200px;
}
